body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #444444;
}

main {
    margin: 0 auto;
    width: 75%;
    height: 70vh;
    background-color: #efefef;   
}

footer {
    margin: 0 auto;
    width: 75%;
    height: 10vh;
    background-color: #222222;
}


